*{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(198, 198, 198);
}

body{
  background-color: RGB(46, 48, 49);
  max-width: 1000px;
}

span{
  font-size: 50px;
  position: absolute;
  margin-top: 20px;
}

input{
  border-radius: 10px;
  border-style: solid;
  width: 660px;
  padding-left: 5px;
  background-color: transparent;
  height: 20px;
}

.content{
  position: absolute;
  top: 15%;
  left: 22%;
  border-width: thin;
  border-color: rgb(198, 198, 198);
  border-style: solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 700px;
}

.place{
  font-size: 60px;
}

.temp{
  font-size: 160px;
}

.icon{
  width: 80px;
  height: 80px;
  margin: 0px;
  padding: 0px;
}

.icondeg{
  position: absolute;
  display: inline;
}
